In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np

In [2]:
import re

In [3]:
from datetime import datetime

In [4]:
race = ['Sunderland', datetime.strptime("04Apr19", "%d%b%y"), 'A3', 450]

In [62]:
ab = tuple(race)
"%s, %s, %s, %s" % (ab)

'Sunderland, 2019-04-04 00:00:00, A3, 450'

In [5]:
with open("dog.html", "r") as f_:
    result_page = BeautifulSoup(f_, "html.parser")

In [45]:
def normalize(row, t_):    
    try: 
        if t_ == "text":
            return row.text
        if t_ == "date":
            s = row.text.replace(" ", "")
            s = datetime.strptime(s, "%d%b%y")
            return s
        if t_ == "distance":
            return int(row.text.replace("m", ""))
        if t_ == "only_digits":
            return int(re.sub("\D", "", row.text))
        if t_ == "bends":
            row = row.text.replace("-", "")
            return np.average(np.array(list(row)).astype(int))        
        if t_ == "remarks":
            return row.text.lower().split(",") 
        if t_ == "float":
            return np.float(row.text)
        if t_ == "int":
            return np.int(row.text)
    except Exception as e:
        return float("NaN")

In [46]:
stats = list()
for tr in result_page.find("table", {"id":"sortableTable"}).find("tbody").find_all("tr", class_="row"):
    c = tr.find_all("td")
    stats.append([
        normalize(c[0],  "date"),
        normalize(c[1],  "text"),
        normalize(c[2],  "distance"),
        normalize(c[3],  "only_digits"),
        normalize(c[4],  "float"),
        normalize(c[5],  "bends"),
        normalize(c[6],  "only_digits"),
        normalize(c[9],  "remarks"),
        normalize(c[10], "float"),
        normalize(c[12], "float"),
        normalize(c[14], "text"),
        normalize(c[15], "float"),
    ])

In [47]:
stats = pd.DataFrame(stats, columns=[
            "date",
            "local",
            "distance",
            "trap",
            "split",
            "bends",
            "position",
            "remarks",
            "win_time",
            "weight",
            "grade",
            "cal_time"
        ])

In [50]:
stats = stats.dropna(subset=["position"], axis=0)

In [56]:
stats

,date,local,distance,trap,split,bends,position,remarks,win_time,weight,grade,cal_time
6,2019-03-27,Sland,450,3,5.14,4.75,3.0,[crd3&4],27.59,36.2,A3,28.25
7,2019-03-20,Sland,450,4,5.13,6.00,6.0,[crd3],27.88,36.0,A3,28.60
8,2019-03-12,Sland,450,3,5.11,3.75,2.0,[rnon],28.00,35.4,A3,28.04
9,2019-03-03,Sland,450,4,5.15,5.00,5.0,"[bmpstt, crd1]",27.85,36.0,A2,28.70
10,2019-02-21,Sland,450,3,5.06,2.25,3.0,[evch],27.93,36.3,A2,28.10
11,2019-02-06,Sland,450,4,5.04,3.50,5.0,[crd1],27.52,36.5,A2,28.47
12,2019-01-31,Sland,450,4,5.06,3.00,4.0,"[mid, clrrn]",27.58,36.3,A2,27.90
13,2019-01-24,Sland,450,3,5.03,1.50,1.0,[ld1],27.66,36.4,A3,27.76
14,2019-01-16,Sland,450,3,4.99,2.25,3.0,[clrrn],27.62,37.0,A3,28.02
19,2018-10-25,Sland,450,3,5.23,4.25,4.0,"[saw, crd2]",28.20,36.8,A3,28.49
20,2018-10-17,Sland,450,3,5.12,5.75,6.0,[crdrnup&3],27.89,36.5,A3,28.33
21,2018-10-10,Sland,450,3,5.22,1.50,3.0,"[crdrnup, ld1-3]",28.32,36.4,A3,28.63
22,2018-10-05,Sland,450,3,5.07,1.75,4.0,[ld2-rnin],28.00,36.4,A3,28.06
23,2018-09-26,Sland,450,3,5.23,2.75,3.0,[clrrn],27.69,36.3,T3,28.32
24,2018-09-21,Sland,261,2,NaN,1.00,1.0,"[ald, (ht)]",16.18,36.2,T2,16.18
25,2018-07-31,Sland,450,3,5.07,4.50,5.0,[crd3],27.54,35.5,A2,28.34
26,2018-07-26,Sland,450,3,5.11,2.75,3.0,"[bmp1, crd2]",27.60,35.6,A2,28.40
27,2018-07-22,Sland,450,3,5.08,3.00,2.0,[evch],27.39,36.0,A2,28.23
28,2018-07-13,Sland,450,3,5.12,3.00,3.0,[crd1],27.46,35.5,A2,28.26
29,2018-07-01,Sland,450,3,5.12,3.25,4.0,[clrrn],27.58,35.9,A2,27.92
30,2018-06-22,Sland,450,3,5.04,1.50,1.0,[ld3],27.64,35.5,A3,27.84
31,2018-06-15,Sland,450,3,5.08,2.00,2.0,[evch],27.51,35.3,A3,27.98
32,2018-06-08,Sland,450,3,5.06,2.25,3.0,[crd3],27.62,35.5,A3,28.13
33,2018-05-31,Sland,450,3,5.05,2.00,2.0,[bmp1],27.91,35.7,A3,28.18
34,2018-05-25,Sland,450,3,5.13,3.00,2.0,[ldrnup-1/2],27.61,36.1,A3,27.96
35,2018-05-20,Sland,450,4,4.97,2.00,5.0,[crd4],27.45,36.1,A2,28.45
36,2018-05-08,Sland,450,3,4.99,5.25,4.0,"[saw, crd1, bmp3]",27.40,35.9,A2,28.32
37,2018-05-01,Sland,450,3,4.90,2.75,2.0,[crd1],27.50,35.9,A2,27.92
38,2018-04-24,Sland,450,3,4.92,1.25,1.0,"[ep, ld1]",28.01,35.8,A3,28.01
39,2018-04-18,Sland,450,3,5.06,4.00,4.0,[bmp1],27.59,36.2,A3,28.44
40,2018-04-11,Sland,450,3,5.09,1.50,3.0,[ld1-4],28.20,36.3,A2,28.05
41,2018-04-03,Sland,450,3,5.03,2.25,4.0,"[ep, clrrn]",28.01,36.1,A2,28.19
42,2018-03-23,Sland,450,3,4.98,1.50,5.0,[ld-3/4],27.77,36.6,A2,28.27
43,2018-03-09,Sland,450,3,5.06,3.75,4.0,[crd1],28.04,36.2,A2,28.78
46,2018-01-19,Sland,450,3,4.93,1.50,2.0,[ld1-3&bdcrd],27.62,35.0,A1,28.17
47,2018-01-14,Sland,450,3,5.09,1.25,2.0,[ld1/2-rnin],28.09,34.6,A1,28.05
48,2018-01-02,Sland,450,3,5.14,4.75,4.0,"[saw, crd1]",27.89,34.9,A1,28.32
49,2017-12-21,Sland,450,3,5.08,1.00,1.0,"[qaw, ald]",27.96,35.0,A2,27.86
50,2017-12-07,Sland,450,3,5.18,3.75,5.0,"[crdstt, bdcrd1]",27.63,35.3,A2,28.40
51,2017-12-02,Sland,450,3,5.13,5.25,6.0,[bdcrd1],28.12,35.3,A2,28.74
52,2017-11-22,Sland,450,4,5.15,4.25,5.0,"[bdcrd1, crd1/2]",29.08,35.6,A2,28.99
53,2017-11-17,Sland,450,4,5.12,4.25,5.0,[crd3],28.07,35.6,A2,28.91
54,2017-11-11,Sland,450,4,5.06,1.50,1.0,[ldrnup],28.03,35.9,A2,27.93
57,2017-09-22,Sland,450,2,5.12,5.00,6.0,[ko1],27.84,34.2,A2,0.00
58,2017-09-15,Sland,450,2,5.24,4.00,4.0,"[saw, crd1]",27.82,34.6,A2,28.52
59,2017-09-06,Sland,450,2,5.17,3.00,4.0,[crd1],27.66,35.0,A2,28.21
60,2017-08-30,Sland,450,1,5.00,1.00,2.0,"[mid-rls, ld1-nrln]",28.16,34.4,T3,27.97
61,2017-08-26,Sland,450,3,5.20,2.00,2.0,"[mid-rls, evch]",27.96,34.6,T2,28.24
63,2017-07-15,Sland,450,1,5.05,4.00,5.0,[evch],27.26,34.7,OR,28.01
64,2017-07-12,Donc,450,1,2.26,4.25,4.0,"[saw, rls-mid, clrrn]",27.91,34.5,OR,28.41
65,2017-07-05,Donc,450,2,2.15,1.75,2.0,"[ep, mid, crdstt&1]",27.52,34.5,OR,27.98
66,2017-07-01,Donc,450,2,2.22,2.00,2.0,"[rls-mid, evch]",28.35,34.6,T2,28.53
67,2017-06-24,Donc,275,2,NaN,1.50,1.0,"[rls, ld1]",17.38,34.8,T2,17.38
73,2017-05-01,Pelaw,435,4,5.47,1.00,1.0,"[qaw, ald]",26.53,35.1,T3,26.23
74,2017-04-28,Pelaw,245,3,NaN,1.00,1.0,"[qaw, ald, bmprnin]",14.93,35.8,T3,14.78

In [51]:
stats = stats[stats["date"] < race[1]]

In [52]:
dog_features = list()
for r in [5,10,15]:
    s_ = stats[:r]
    _tmp = [
        # Frequency at distance
        float(len(s_[s_["distance"] == race[3]]))/r,
        # Frequency at trap 
        float(len(s_[s_["trap"]     == 2]))/r,
        # Frequency at grade 
        float(len(s_[s_["grade"]    == race[2]]))/r,
        # Frequency at third positions
        float(len(s_[s_["position"] <= 3])) / r,
        # Frequency at last positions
        float(len(s_[s_["position"] > 3])) / r,
        np.mean(s_["bends"])        
    ]
    dog_features.append(np.round(_tmp, 2))

In [53]:
dog_features = np.array(dog_features)

In [55]:
dog_features.reshape(1,18)

array([[1.  , 0.  , 0.6 , 0.6 , 0.4 , 4.35, 1.  , 0.  , 0.6 , 0.5 , 0.5 ,
        3.62, 0.93, 0.07, 0.6 , 0.53, 0.47, 3.27]])

In [ ]:
np.array(1,3,4)