In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [3]:
from sklearn.model_selection import train_test_split

In [19]:
names = [
"full","distance",
"grade","dist_trap","dist_grade",
"first_full","first_trap","first_dist",
"first_local","first_grade","tree_full",
"tree_trap","tree_dist","tree_local",
"tree_grade","mean_time","min_time",
"max_time","by_mean_lost","by_mean_win",
"bends_mean","position","days_lr","whelping",
"trap_a", "trap_b", "result", "t_dist", "t_grade"
]

In [20]:
df = pd.read_csv("../data/dataset.csv", names=names)

In [21]:
df.head()

,full,distance,grade,dist_trap,dist_grade,first_full,first_trap,first_dist,first_local,first_grade,...,by_mean_win,bends_mean,position,days_lr,whelping,trap_a,trap_b,result,t_dist,t_grade
0,0.714,0.312,0.502,0.401,0.333,0.312,0.286,0.500,0.0,0.396,...,0.0,0.497,0.533,0.429,0.510,1,6,A,480,A7
1,0.238,0.500,0.503,0.520,0.520,0.455,0.417,0.250,0.0,0.422,...,0.0,0.502,0.533,0.439,0.502,1,5,A,480,A7
2,0.217,0.556,0.504,0.440,0.265,0.222,0.476,0.400,0.0,0.232,...,0.0,0.501,0.533,0.222,0.511,1,4,A,480,A7
3,0.714,0.833,0.498,0.588,0.684,0.667,0.833,0.667,0.0,0.905,...,0.0,0.493,0.533,0.900,0.507,1,2,A,480,A7
4,0.161,0.357,0.502,0.455,0.351,0.312,0.238,0.111,0.0,0.328,...,0.0,0.500,0.533,0.321,0.506,1,3,A,480,A7

In [23]:
X = df.copy()
y = df["result"]

In [24]:
X.head()

,full,distance,grade,dist_trap,dist_grade,first_full,first_trap,first_dist,first_local,first_grade,...,by_mean_win,bends_mean,position,days_lr,whelping,trap_a,trap_b,result,t_dist,t_grade
0,0.714,0.312,0.502,0.401,0.333,0.312,0.286,0.500,0.0,0.396,...,0.0,0.497,0.533,0.429,0.510,1,6,A,480,A7
1,0.238,0.500,0.503,0.520,0.520,0.455,0.417,0.250,0.0,0.422,...,0.0,0.502,0.533,0.439,0.502,1,5,A,480,A7
2,0.217,0.556,0.504,0.440,0.265,0.222,0.476,0.400,0.0,0.232,...,0.0,0.501,0.533,0.222,0.511,1,4,A,480,A7
3,0.714,0.833,0.498,0.588,0.684,0.667,0.833,0.667,0.0,0.905,...,0.0,0.493,0.533,0.900,0.507,1,2,A,480,A7
4,0.161,0.357,0.502,0.455,0.351,0.312,0.238,0.111,0.0,0.328,...,0.0,0.500,0.533,0.321,0.506,1,3,A,480,A7

In [26]:
X.drop(["trap_a", "trap_b", "result", "t_dist", "t_grade"], inplace=True, axis=1)

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [51]:
#clf = RandomForestClassifier(n_estimators=150, min_samples_leaf=15)
clf = SVC()

In [52]:
clf.fit(X_train,y_train)

/home/acioli/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [53]:
y_pred = clf.predict(X_test)

In [54]:
from sklearn.metrics import classification_report

In [55]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           A       0.54      0.54      0.54      1749
           B       0.54      0.54      0.54      1767

    accuracy                           0.54      3516
   macro avg       0.54      0.54      0.54      3516
weighted avg       0.54      0.54      0.54      3516